services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - 8080:8080   # qBittorrent Web UI
      - 6881:6881   # Torrent port
    volumes:
      - ${CONTAINER_ROOT}/gluetun:/gluetun
    env_file:
      - ../_shared/common.env
      - .env
    environment:
      HEALTH_VPN_DURATION_INITIAL: 120s
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 60s
      timeout: 20s
      retries: 5
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:gluetun
    depends_on:
      gluetun:
        condition: service_healthy
    env_file:
      - ../_shared/common.env
      - .env
    environment:
      WEBUI_PORT: 8080
      TORRENTING_PORT: 6881
    volumes:
      - ${CONTAINER_ROOT}/qbittorrent/config:/config
      - ${MEDIA_ROOT}/downloads:/downloads
    restart: unless-stopped